---
import { META } from 'src/config'

import Layout from 'src/layouts/PageLayout.astro'

const title = `Error 404 - ${META.title}`
---

<Layout meta={{ title }}>
  <section class="flex items-center h-screen">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto -mt-40">
      <div class="max-w-md text-center">
				<h2 class="mb-8 font-bold text-9xl">
					<span class="sr-only">Error</span>
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500">404</span>
				</h2>
				<a
					rel="noopener noreferrer"
					href="/"
					class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 ml-4"
				>
				  Back to homepage
				</a>
      </div>
    </div>
  </section>
</Layout>

