---
import Link from '@/components/Link.astro'
---

<footer class='footer mt-10 mb-6 m-auto text-center opacity-50 prose'>
  <span class='text-sm'>
    <Link
      href='https://creativecommons.org/licenses/by-nc/4.0/'
      blank
      external
      name='CC BY-NC 4.0'
    >
      CC BY-NC 4.0
    </Link>
    &emsp;<span>2021 - PRESENT&nbsp;&copy;&nbsp;ntnyq</span>
  </span>
</footer>
