<footer class="border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="md:flex md:items-center md:justify-between py-4">
      <ul class="justify-center flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
        <li class="mx-1">
          <a
            href="https://twitter.com/ntnyq"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="Twitter"
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-3 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg p-2 inline-flex items-center"
          >
            <div class="i-carbon-logo-twitter w7 h7"></div>
          </a>
        </li>
        <li class="mx-1">
          <a
            href="https://github.com/ntnyq"
            rel="noopener noreferrer"
            target="_blank"
            aria-label="GitHub"
						class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-3 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg p-2 inline-flex items-center"
          >
            <div class="i-carbon-logo-github w7 h7"></div>
          </a>
        </li>
      </ul>
			<div class="text-center text-gray-700 md:mr-4 dark:text-slate-400">
        <p class="text-lg">
          <a
            href='https://creativecommons.org/licenses/by-nc/4.0/'
            target="_blank"
          >
            CC BY-NC 4.0
          </a>
          &emsp;<span>2021 - PRESENT&nbsp;&copy;&nbsp;ntnyq</span>
        </p>
			</div>
    </div>
  </div>
</footer>
