---
import Link from '@/components/Link.astro'
import Image from '@/components/Image.astro'
import ColorModeSwitch from '@/components/ColorModeSwitch.astro'
---

<header class='header z40'>
  <Link
    className='w-10 h-10 absolute lg:fixed m-6 select-none outline-none'
    href='/'
    name='Home'
  >
    <Image
      src='/static/icons/icon-72x72.png'
      alt='Logo'
      isOptimization
      width={40}
      height={40}
    />
  </Link>
  <nav class='nav'>
    <div class='spacer'></div>
    <div class='right'>
      <Link
        name='Twitter'
        href='https://twitter.com/ntnyq'
        blank
        external
      >
        <div class='i-feather-twitter'></div>
      </Link>
      <Link
        name='GitHub'
        href='https://github.com/ntnyq'
        blank
        external
      >
        <div class='i-uil-github-alt'></div>
      </Link>
      <!-- <ColorModeSwitch /> -->
    </div>
  </nav>
</header>

<style>
  .nav {
    display: grid;
    grid-template-columns: auto max-content;
    padding: 2rem;
    width: 100vw;
  }

  .nav > * {
    margin: auto;
  }

  .nav a {
    transition: opacity 0.2s ease;
    opacity: 0.6;
    outline: none;
    cursor: pointer;
  }

  .nav a:hover {
    opacity: 1;
  }

  .nav .right {
    display: grid;
    gap: 1.2rem;
    grid-auto-flow: column;
  }

  .nav .right > * {
    margin: auto;
  }
</style>
