---
export interface Props {
  name: string
  href: string
  blank?: boolean
  external?: boolean
  className?: string
}

const { name, href, blank = false, external = false, className } = Astro.props
---

<a
  href={href}
  target={blank ? `_blank` : undefined}
  class={className ?? ``}
  rel={external ? `noreferrer` : undefined}
  arial-label={`Link for ${name}`}
>
  <slot />
</a>
