---
// import '@/styles/style.css'
import GA from 'src/components/GA.astro'
import MetaTags from 'src/components/MetaTags.astro'

const { meta = {} } = Astro.props
const id = import.meta.env.GOOGLE_ANALYTICS_ID;
---


<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth 2xl:text-[20px]">
  <head>
    <MetaTags {...meta} />
  </head>
  <body class="antialiased text-gray-900 dark:text-slate-300 tracking-tight bg-white dark:bg-slate-900">
    <slot />
    {import.meta.env.PROD && <GA id={id} />}
  </body>
</html>
