---
import '@unocss/reset/tailwind.css'
import '@/styles/style.css'
import GA from '@/components/GA.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
// import { pwaInfo } from 'virtual:pwa-info'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <meta
      http-equiv='X-UA-Compatible'
      content='chrome=1'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <meta
      name='author'
      content='ntnyq'
    />
    <meta
      name='keywords'
      content='ntnyq'
    />
    <meta
      name='description'
      content="ntnyq's portfolio"
    />
    <meta
      property='twitter:card'
      content='summary'
    />
    <meta
      property='twitter:creator'
      content='@ntnyq'
    />
    <title>ntnyq</title>
    <link
      rel='apple-touch-icon'
      href='/static/icons/icon-192x196.png'
    />
    <link
      rel='shortcut icon'
      href='/static/icons/favicon.png'
      type='image/png'
    />
    <link
      rel='sitemap'
      href='/sitemap-index.xml'
    />
    <!-- DNS prefetch -->
    <link
      rel='dns-prefetch'
      href='//ntnyq.com'
    />
    <link
      rel='dns-prefetch'
      href='//www.googletagmanager.com'
    />
    <!-- PWA -->
    <!-- <script src='/src/pwa.ts'></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />} -->
  </head>
  <body class='font-sans text-gray-700 dark:text-gray-200'>
    <div
      class='min-h-screen flex flex-col'
      id='app'
    >
      <Header />
      <main class='px-7 py-10 flex-auto'>
        <slot />
      </main>
      <Footer />
    </div>
    {import.meta.env.PROD && <GA />}
  </body>
</html>
